services:
  discovery-service:
    build:
      context: discovery-service
      dockerfile: Dockerfile
    ports:
      - "8761:8761"
    restart: always

  configuration-service:
    build:
      context: configuration-service
      dockerfile: Dockerfile
    ports:
      - "8888:8888"
    depends_on:
      - discovery-service

  gateway-service:
    build:
      context: gateway-service
      dockerfile: Dockerfile
    ports:
      - "8762:8762"
    depends_on:
      - discovery-service

  database:
    image: mysql
    environment:
      - "MYSQL_USER=username"
      - "MYSQL_PASSWORD=password"
      - "MYSQL_ROOT_PASSWORD=password"
      - "MYSQL_DATABASE=calculatordb"
    ports:
      - "3306:3306"
    volumes:
      - "database-volume:/var/lib/mysql"
    restart: always

  addition-service:
    build:
      context: calculator-addition-service
      dockerfile: Dockerfile
    ports:
      - "8091:8091"
    depends_on:
      - discovery-service
      - configuration-service
      - gateway-service
      - database

  subtraction-service:
    build:
      context: calculator-subtraction-service
      dockerfile: Dockerfile
    ports:
      - "8092:8092"
    depends_on:
      - discovery-service
      - configuration-service
      - gateway-service
      - database

  multiplication-service:
    build:
      context: calculator-multiplication-service
      dockerfile: Dockerfile
    ports:
      - "8093:8093"
    depends_on:
      - discovery-service
      - configuration-service
      - gateway-service
      - database

  division-service:
    build:
      context: calculator-division-service
      dockerfile: Dockerfile
    ports:
      - "8094:8094"
    depends_on:
      - discovery-service
      - configuration-service
      - gateway-service
      - database

  round-service:
    build:
      context: calculator-round-service
      dockerfile:  Dockerfile
    ports:
      - "8095:8095"
    depends_on:
      - discovery-service
      - configuration-service
      - gateway-service
      - database

volumes:
  database-volume: